body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.big-wrapper{
    width: 100%;
    height: 600px;
    background-image: url("../First-Website-Welcome-To-Theory/assets-first-website-theory/dd.jpg");
    border-top: 10px solid #5385c1;
}

.header{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 45px;
}

.header p{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.header ul{
    float: right;
}

.header li{
    float: left;
    list-style: none;
    margin-right: 50px;
    color: #fff;
}

/* Banner Starts */

.banner{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.banner h1{
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 60px;
}

.banner p{
    text-align: center;
    color: #fff;
}

/* Three Section Starts */

.three-section{
    width: 60%;
    margin: 0 auto;
    padding: 100px 0px;
}

.main{
    width: 30%;
    float: left;
    margin-right: 32px;
}

.main h2{
    font-weight: 300;
    font-size: 25px;
    color: #5385c1;
    line-height: 35px;
}

.main p{
    line-height: 28px;
    margin-top: 25px;
}

.my-button{
    width: 100px;
    height: 40px;
    background-color: #5385c1;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

.add-border{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #dbdbdb;
}

/* Team Starts Here */

.team{
    width: 100%;
    background-color: #5385c1;
    color: #fff;
}

.fixed-width{
    width: 60%;
    margin: 0 auto;
    padding: 70px 0px;
}

.fixed-width h1{
    font-weight: 200;
    text-align: center;
    font-size: 45px;
}

.fixed-width p{
    font-weight: 300;
    text-align: center;
}

.person{
    width: 20%;
    text-align: center;
    border: 1px solid #fff;
    padding: 30px 5px;
    float: left;
    margin-right: 38px;
    margin-top: 65px;
}

.person img{
    border-radius: 100%;
    width: 70%;
}

/* Two Section Starts Here */

.two-section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.two-section h1{
    color: #5385c1;
    font-weight: 100;
    font-size: 50px;
    line-height: 20px;
}

.two-section p{
    font-size: 20px;
    color: gray;
}

.two-section .left{
    width: 45%;
    float: left;
    text-align: left;
    margin-top: 40px;
}

.two-section .right{
    width: 45%;
    float: right;
    text-align: left;
    margin-top: 40px
}

.two-section h2{
    color: #5385c1;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    padding: 30px 0;
}

.two-section p{
    font-size: 16px;
    line-height: 25px;
}

.two-section img{
    width: 100%;
}